@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.header {
    background-color: #6c31da;
}

h1 {
    font-size: 3rem;
    padding: 1rem;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    a {
        color: #fff;
        text-decoration: none;
    }
}

h3 {
    font-size: 3rem;
    padding: 3rem;
}

h4 {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.list {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        text-decoration: none;
        color: #000;
    }
}

.list-user {
    background-color: #af91e5;
    width: 10rem;
    padding: 2rem 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    img {
        height: 4rem;
    }
}

.user {
    margin-top: 5rem;
}

.user-profile {
    display: flex;
    width: 30%;
    margin: 0 auto;
    img {
        height: 8rem;
        flex-grow: 1;
        flex-basis: 0;
    }
}

.user-info {
    flex-basis: 0;
    flex-grow: 4;
    p {
        font-size: 2rem;
        text-align: right;
        font-weight: bold;
    }
}

.user-net {
    width: 50%;
    margin: 3rem auto;
}

.network {
    background-color: #af91e5;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    div {
        display: flex;
        flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        margin: 1rem 0.5rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.person {
    background-color: #fff;
    color: rgb(68, 68, 68);
    padding: 0.3rem;
    border-radius: 0.3rem;
}